*

!app
!artisan

!bootstrap
bootstrap/cache/*

!composer.*
!config

!database
database/database.sqlite

!docker

!.env.prod

!java
java/*
!java/anal.jar

!public
!resources
!routes

!storage
storage/app/*
!storage/app/public
storage/app/public/*
storage/framework/cache*
!storage/framework/cache/data
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*

*/.gitignore
